#keypadwindow_ button{
    background-image: linear-gradient(180deg, #F7F7F7, #F7F7F7);
    color: black;
    border-image: none;
    border: none;
}
#keypadwindow_ button:active{
    background-image: linear-gradient(180deg, black, grey);
    color: white;
    border-image: none;
    border: none;
}
#keypadgrid_ grid {
    background-image: linear-gradient(180deg,#F7F7F7, #F7F7F7);
    color : black;
    border-image: none;
    border: none;

}
#keypadwindow_ {
	background-color: #F7F7F7;
    color : white;
}
